<!-- <form #Form="ngForm" (ngSubmit)="onSubmit(Form)">
	<div class="card-header card-header-icon" data-background-color="rose">
		<i class="material-icons">contacts</i>
	</div>
	<div class="card-content">
		<h4 class="card-title">Login Form</h4>
		<div class="form-group label-floating">
			<label class="control-label">Username
				<span class="star">*</span>
			</label>
			<input class="form-control" name="username" type="text" username="true" required="true" [(ngModel)]="data.username"/>
		</div>
		<div class="category form-category">
			<span class="star">*</span> Required fields</div>
		<div class="text-center"
			<button type="submit" class="btn btn-rose btn-fill btn-wd">Update</button>
		</div>
	</div>
</form> -->