<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
							<mat-tab label="Utilisateurs">
								<table class="table">
									<thead>
										<tr>
											<th class="text-center">#</th>
											<th>Prenom</th>
											<th>Nom</th>
											<th>Login</th>
											<th class="text-center">actif</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let user of users">
											<td class="text-center">{{user.userId}}</td>
											<td>{{user.prenomUser}}</td>
											<td>{{user.nomUser}}</td>
											<td>{{user.login}}</td>
											<td class="td-actions text-center">
												<i class="material-icons" *ngIf="user.actif" style="color: green;">check_circle</i>
												<i class="material-icons" *ngIf="!user.actif" style="color: red;">cancel</i>
												<!-- <button type="button" rel="tooltip" class="btn btn-success" (click)="openDialog(user)">
													<i class="material-icons">edit</i>
												</button> -->
											</td>
										</tr>
									</tbody>
								</table>
							</mat-tab>
							<mat-tab label="Chercher un Utilisateurs">
								<form (submit)="onSubmit()">
									<div class="card-content">
										<div class="form-group col-md-6">
											<label class="control-label">Utilisateurs Id
												<span class="star">*</span>
											</label>
											<input class="form-control" name="id" type="number" [(ngModel)]="id" required="true"/>
										</div>
										<div class="category form-category">
											<span class="star">*</span> Required fields</div>
										<div class="text-center">
											<button type="submit" class="btn btn-fill btn-wd" style="background-color: blue;">Chercher</button>
										</div>
									</div>
								</form>
								<table class="table" *ngIf="user">
									<thead>
										<tr>
											<th>Prenom</th>
											<th>Nom</th>
											<th>Login</th>
											<th class="text-center">actif</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{{user.prenomUser}}</td>
											<td>{{user.nomUser}}</td>
											<td>{{user.login}}</td>
											<td class="td-actions text-center">
												<i class="material-icons" *ngIf="user.actif" style="color: green;">check_circle</i>
												<i class="material-icons" *ngIf="!user.actif" style="color: red;">cancel</i>
												<!-- <button type="button" rel="tooltip" class="btn btn-success" (click)="openDialog(user)">
													<i class="material-icons">edit</i>
												</button> -->
											</td>
										</tr>
									</tbody>
								</table>
							</mat-tab>
							<mat-tab label="Ajouter Utilisateur">
								<form [formGroup]="userForm" (ngSubmit)="onAdd(userForm.value)">
									<div class="card-content">
										<div class="row">
											<div class="form-group col-md-4">
												<label class="control-label">Prenom
													<span class="star">*</span>
												</label>
												<input class="form-control" name="prenom" id="prenom" type="text" formControlName="prenom" required="true"/>
											</div>
											<div class="form-group col-md-4">
												<label class="control-label">Nom
													<span class="star">*</span>
												</label>
												<input class="form-control" name="nom" type="text" formControlName="nom" id="nom" required="true"/>
											</div>
											<div class="form-group col-md-4">
												<label class="control-label">login
													<span class="star">*</span>
												</label>
												<input class="form-control" name="login" type="text" formControlName="login" id="login" required="true"/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-4">
												<label class="control-label">Mot de pass
													<span class="star">*</span>
												</label>
												<input class="form-control" name="mdp" formControlName="password" type="password" id="mdp" required="true"/>
											</div>
											<div class="form-group col-md-4">
												<br>
												  <mat-form-field>
													<mat-label>Caisses</mat-label>
													<mat-select multiple formControlName="cai">
													  <mat-option *ngFor="let caisse of Caisses"  [value]="caisse.caisseId">{{caisse.nomCaisse}}</mat-option>
													</mat-select>
												  </mat-form-field>
											</div>
											<div class="form-group col-md-4">
												<br>
												<mat-form-field>
													<mat-label>Profile</mat-label>
													<mat-select formControlName="prls">
														<mat-option *ngFor="let profile of profiles" [value]="profile.profilId">{{profile.nomProfil}}</mat-option>
													</mat-select>
												</mat-form-field>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-4">
												<label class="control-label">Co_NO
													<span class="star">*</span>
												</label>
												<input class="form-control" name="Co_NO" type="text" formControlName="Co_NO" id="Co_NO" required="true"/>
											</div>
											<div class="form-group col-md-4">
												<br>
												<mat-form-field>
													<mat-label>Voir Tout Document</mat-label>
													<mat-select formControlName="DocPermissions">
														<mat-option value="oui">Oui</mat-option>
														<mat-option  value="non">Non</mat-option>
													</mat-select>
												</mat-form-field>
											</div>
											<div class="form-group col-md-4">
												<br>
												<mat-form-field>
													<mat-label>Modifier les Mot de Passes?</mat-label>
													<mat-select formControlName="editPass">
														<mat-option value="oui">Oui</mat-option>
														<mat-option value="non">Non</mat-option>
													</mat-select>
												</mat-form-field>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-4">
												<br>
												<mat-form-field>
													<mat-label>Actif</mat-label>
													<mat-select formControlName="actif">
														<mat-option value="oui">Oui</mat-option>
														<mat-option value="non">Non</mat-option>
													</mat-select>
												</mat-form-field>
											</div>
											<div class="form-group col-md-4">
												<br>
												<mat-form-field>
													<mat-label>Profile</mat-label>
													<mat-select formControlName="dprts">
														<mat-option *ngFor="let departement of departements" [value]="departement.departementId">{{departement.nom}}</mat-option>
													</mat-select>
												</mat-form-field>
											</div>
										</div>
										<div class="category form-category">
											<span class="star">*</span> Required fields
										</div>
										<div class="text-center">
											<button type="submit" class="btn btn-fill btn-wd" style="background-color: blue;">Chercher</button>
										</div>
									</div>
								</form>
							</mat-tab>
						</mat-tab-group>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
